/* Fondo para el cuerpo */
body {
    background-image: url('../public/veterinaria-02.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Clase personalizada para aplicar fondo a la página */
.bg-veterinary {
    background-image: url('../public/veterinaria-02.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Animación para los servicios */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

#serviceList li {
    animation: fadeIn 0.5s ease-out;
}
