/* Fondo de la página */
body {
    background-image: url('../public/veterinaria-02.jpg'); /* Cambia esta URL por la de tu imagen */
    display: block;
    margin: auto;
    background-size: contain; /* Ajusta la imagen para que no se recorte */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* La imagen no se desplaza al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: rgb(5, 45, 105); /* Cambia el color del texto para que se vea bien con el fondo */
}


/* Otras opciones para `background-size` */
body.cover {
    background-size: cover; /* La imagen se ajusta para cubrir toda la pantalla */
}

body.contain {
    background-size: contain; /* La imagen se ajusta para no recortarse, pero puede que no cubra toda la pantalla */
}

body.full {
    background-size: 100%; /* La imagen se escala exactamente al tamaño de la pantalla, pero puede perder proporción */
}
